.backgroundColor{
    background-color: #dfd4e9;
    border:black;
}
.backEntireSheetColor{
    background-color:rgb(203, 170, 211);
}
.fontSize{
    font-size: 20px;
}
.blackbackground{
    background-color: black;
}